/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18dpi;
}

.label {
    font-size:20dpi;
    color:#000000;
    text-align:center;
} 
.answer{
    font-size:60dpi;
    color:blue;
    text-align: center;
}
.input-field{    
    border-width: 1;
    border-style: 'solid';
    border-color: #000000;
    border-radius: 10px;    
    padding:10;
    margin-top:20;
    margin-left: 20;
    margin-right: 20;    
}
.field{    
    border-width: 3;
    border-style: 'solid';
    border-color: rgb(4, 20, 243);
    border-radius: 10px;    
    padding:10;
    margin-top:30;
    margin-left: 30;
    margin-right: 30;    
}
.field1{    
    border-width: 1;
    border-style: 'solid';
    border-color: #000000;
    border-radius: 10px;    
    padding:10;
    margin-top:30;
    margin-left: 30;
    margin-right: 30;    
}